<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-logo">
                <img src="assets/logo.png" alt="Beauty Salon Logo"/>
            </div>
            <nav class="footer-links">
                <a routerLink="">Главная </a>
                <a routerLink="about"> О нас </a>
                <a routerLink="services"> Услуги </a>
                <a routerLink="booking"> Запись </a>
                <a routerLink="contacts"> Контакты </a>
            </nav>
            <div class="footer-contacts">
                <p>+373 77588191</p>
                <p>infobeautysalon.md</p>
            </div>
        </div>
        <!-- <p class="footer-copy">© 2025 Beauty Salon. Все права защищены.</p> -->
    </div>
    
</footer>